{{ include.date | date: "%B" }}
{% assign m = include.date | date: "%-m" %}
    {% case m %}
            {% when  '1' %}Styczeń
            {% when  '2' %}Luty
            {% when  '3' %}Marzec
            {% when  '4' %}Kwiecień
            {% when  '5' %}Maj
            {% when  '6' %}Czerwiec
            {% when  '7' %}Lipiec
            {% when  '8' %}Sierpień
            {% when  '9' %}Wrzesień
            {% when '10' %}Październik
            {% when '11' %}Listopad
            {% when '12' %}Grudzień
    {% endcase %}
{{ include.date | date: "%Y" }}