{% if include.caption %}
<figure>
    {% if include.href %}
    <a href="{{ site.baseurl }}{{ include.href }}" class="glightbox">
        <img src="{{ site.baseurl }}{{ include.src }}" alt="Image: {{ include.caption }}">
    </a>
    {% else %}
    <img src="{{ site.baseurl }}{{ include.src }}" alt="Image: {{ include.caption }}"> {% endif %}
    <figcaption><span>{{ site.baseurl }}{{ include.caption }}</span></figcaption>
</figure>
{% else %}
<figure>
    {% if include.href %}
    <a href="{{ site.baseurl }}{{ include.href }}" class="glightbox">
        <img src="{{ site.baseurl }}{{ include.src }}" alt="Image without caption">
    </a>
    {% else %}
    <img src="{{ site.baseurl }}{{ include.src }}" alt="Image without caption"> {% endif %}
</figure>
{% endif %}