{% raw %}
<style>
.square  path.bigSquare,.square path.smallSquare {
  transition: all .2s linear
} 
.square  path.bigSquare  {fill:#99dde2 }
.square path.smallSquare  {fill:#bcedf0 }
.square:hover  path.bigSquare  {fill:red }
.square:hover  path.smallSquare  {fill:pink }
</style>
{% endraw %}

<svg class="square" width="139.89301" height="118.598" viewBox="0 0 37.013357 31.379055">
    <path class="bigSquare" d="M -9.9e-7,31.379054 V -6.3470066e-5 H 31.379117 V 31.379054 Z" style="stroke-width:0.84015954" />
    <path class="smallSquare" d="M 25.39887,31.379054 V 19.764689 h 11.614365 v 11.614365 z" style="stroke-width:0.84015954" />
  </svg>
