<!DOCTYPE html>
<html>

<head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description
        }}</title>
    {% seo %} {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css?ver=1.5" />.
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KWPRJ9PNQ8"></script>
     <meta name="google-site-verification" content="ugZ4fe9W_5EZ_HSGqiO7ZD8sSrOdKj9g2vlJHUym6gA" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KWPRJ9PNQ8');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-192706449-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-192706449-2');
</script>

</head>

<body>
    <div id="bar"></div>
    <div class="wrapper-container" id="top">
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img
                            src="{{ site.baseurl }}{{ site.avatar }}" /></a>

                    <div class="site-info">
                        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                        <p class="site-description">{{ site.description }}</p>
                    </div>

                    <nav class="link-effect">
                        {% for item in site.data.navigation %}
                        <a {% if item.link contains '://' %}href="{{item.link}}" {% else
                            %}href="{{ site.baseurl }}/{{ item.link  }}" {% endif %}{% if item.target%}
                            target="{{item.target}}" {%endif %}{% assign url=item.link | append: "/" | prepend: "/" %}{%
                            if page.url==url %}style="color: #c5c5c5;" {% endif %}>
                            <span>{{ item.name }}</span>
                        </a>
                        {% endfor %}
                    </nav>
                </header>
            </div>
        </div>

        <div class="wrapper-main">

            <div id="main" role="main" class="container">
                {{ content }}
                <a style="float:right" href="#top" class="archive-top-link">&#8593;</a>
            </div>

        </div>

        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include svg-icons.html %}
                </footer>
            </div>
        </div>
    </div>
    <div id="gdpr" class="gdpr top">
        <div class="container">
            Mój blog używa ciasteczek Google Analytics <a href="" id="gdpr-link" class="gdpr-link">OK</a>
        </div>
      </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="{{ site.baseurl }}/assets/flow.js"></script>
   -->
    <script async src="{{ site.baseurl }}/assets/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script>
        let cnt1 = document.getElementsByClassName('language-graph');
        if (cnt1) {
            var s = document.createElement('script');
            s.setAttribute('src', 'https://unpkg.com/mermaid@8.4.6/dist/mermaid.min.js');
            document.body.appendChild(s);
            var config = {
                startOnLoad: true,
                flowchart: {
                    useMaxWidth: false,
                    htmlLabels: true,
                    curve: 'linear',
                },
                securityLevel: 'loose',
            };

            s.onload = () => {
                mermaid.initialize(config);
                Array.from(cnt1).forEach((el, i) => {
                    el.parentNode.classList.add('hasDiagram')

                    let insertSvg = function (svgCode, bindFunctions) {
                        el.innerHTML = svgCode;
                    };
                    let graphDef = el.innerHTML.replace(new RegExp('&amp;', "gi"), '&').replace(new RegExp('&gt;', "gi"), '>').replace(new RegExp('&lt;', "gi"), '<')
                    mermaid.mermaidAPI.render(`graphDiv${i}`, graphDef, insertSvg);
                });
            }




        };

        let zadanie = document.getElementsByClassName('language-Zadanie')[0]
        if (zadanie) zadanie.parentNode.classList.add('zadanie');
    </script>
    <script>
        var lightbox = GLightbox({
            touchNavigation: true,
            loop: true
        });
      
    </script>
    <div id="toast">
        <div id="desc">A notification message..</div>
    </div>
    {% include analytics.html %}

</body>

</html>
