<!DOCTYPE html>
<html>

  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} –
      {{ site.description }}</title>
    {% seo %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon.ico">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container" id="top">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav class="link-effect">
              {% for item in site.data.navigation %}
                <a {% if item.link contains '://' %}href="{{item.link}}" {% else %}href="{{ site.baseurl }}/{{ item.link  }}" {% endif %}{% if item.target%} target="{{item.target}}"
                {%endif %}{% assign url = item.link  | append:"/" | prepend:"/" %}{% if page.url == url %}style="color: #c5c5c5;"{% endif %}>
                <span>{{ item.name }}</span>
              </a>
              {% endfor %}
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">

        <div id="main" role="main" class="container">
          {{ content }}
          <a style="float:right" href="#top" class="archive-top-link">&#8593;</a>
        </div>

      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>
    <div id="toast"><div id="desc">A notification message..</div></div>
    {% include analytics.html %}
    <script>
      window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          function (callback) {
            window.setTimeout(callback, 1000 / 60);
          };
      })();

      function scrollToY(scrollTargetY, speed, easing) {
        // https://stackoverflow.com/questions/8917921/cross-browser-javascript-not-jquery-scroll-to-top-animation
        var scrollY = window.scrollY || document.documentElement.scrollTop,
          scrollTargetY = scrollTargetY || 0,
          speed = speed || 2000,
          easing = easing || 'easeOutSine',
          currentTime = 0;

        var time = Math.max(.1, Math.min(Math.abs(scrollY - scrollTargetY) / speed, .8));

        // easing equations from https://github.com/danro/easing-js/blob/master/easing.js
        var easingEquations = {
          easeOutSine: function (pos) {
            return Math.sin(pos * (Math.PI / 2));
          },
          easeInOutSine: function (pos) {
            return (-0.5 * (Math.cos(Math.PI * pos) - 1));
          },
          easeInOutQuint: function (pos) {
            if ((pos /= 0.5) < 1) {
              return 0.5 * Math.pow(pos, 5);
            }
            return 0.5 * (Math.pow((pos - 2), 5) + 2);
          }
        };


        function tick() {
          currentTime += 1 / 60;

          var p = currentTime / time;
          var t = easingEquations[easing](p);

          if (p < 1) {
            requestAnimFrame(tick);

            window.scrollTo(0, scrollY + ((scrollTargetY - scrollY) * t));
          } else {
            window.scrollTo(0, scrollTargetY);
          }
        }

        tick();
      }

      function copyToClipBoard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
          return clipboardData.setData("Text", text)
        } else if (document.queryCommandSupported && document.queryCommandSupported('copy')) {
          let textarea = document.createElement('textarea');
          textarea.textContent = text
          textarea.style.position = "fixed";
          document.body.appendChild(textarea);
          textarea.select();
          try {
            return document.execCommand("copy")
          } catch (error) {
            console.warn("Nie można skopiować do schowka", error)
            return false;
          } finally {
            document.body.removeChild(textarea)
          }
        }
      }

      function launch_toast(text) {
        let toast = document.getElementById("toast")
        toast.className = "show";
        let desc = toast.querySelector('#desc');
        desc.innerHTML = text;
        setTimeout(function () {
          toast.className = toast.className.replace("show", "");
        }, 5000);
      }
      let classname = document.getElementsByClassName("archive-top-link");
      let topEl = document.getElementById('top');

      for (let i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', () => {
          scrollToY(topEl.offsetTop, 1500, 'easeInOutQuint');
        });
      }


      let codeBlock = document.querySelectorAll("div.highlighter-rouge")
      
      for (let i = 0; i < codeBlock.length; i++) {
        let lang = codeBlock[i].className.split(' ')[0].replace('language-', '');
        let div = document.createElement('div');
        div.className = "lang";
         if (lang == 'highlighter-rouge') continue;
        div.innerHTML = lang;
        codeBlock[i].appendChild(div);
        const copyText = "Kopiuj"
        let copy = document.createElement('div');
        copy.className = "copy"
        copy.innerHTML = copyText;

        let text = codeBlock[i].querySelector('.rouge-code pre');

        copy.addEventListener('click', () => {
          if(copyToClipBoard(text.innerHTML.replace(/<\/?span[^>]*>/g, ""))){
            copy.innerHTML = copyText + ' &#10004;'
            setTimeout(()=>{
              copy.innerHTML = copyText
            },1200)
           // launch_toast("Ko")
          }
        });
        codeBlock[i].appendChild(copy);

      }
    </script>
  </body>

</html>